@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #27140c 16.62%, #8E5D52 85.61%)
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-logo {
    height: 75px;
}

.navigation-bar {
    display: flex;
    gap: 40px;
}

.header-item {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFF2E7;
}

.header-item:hover {
    border-bottom: 0.4px solid #FFF2E7;
}

.content {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 70px;
}

.main-content-title {
    font-family: 'Righteous', cursive;
    font-size: 64px;
    font-weight: 400;
    color: #FFF2E7;
}

.main-content-subtitle {
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ECD6C4;
}

.main-content-button {
    width: 180px;
    height: 60px;
    background-color: #ECD6C4;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    line-height: 25px;

    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #2F2325;
}

.main-content-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

/*Imagem a ser alterada*/
.main-content-image {
    height: 430px;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content-title {
    font-family: 'Sarala', sans-serif;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
}

.secondary-content-paragraph {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ECD6C4;
}

.footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.footer-image {
    height: 48px;
    display: block;
    margin: 0 auto;
}